@theme "catppuccin"

* {
    background-color:       @bg-col;
    text-color:             @fg-col;
	font:				 	"Iosevka 10";
}

window {
    width:      			200px;
    padding:    			20px;
    border-radius:          0px;
    border-color:           @fg-col2;
    location:               center;
    x-offset:               0;
    y-offset:               -4%;
}

entry {
    expand: 				true;
    width: 					150px;
    text-color:				@fg-col;
}

